.country{
    border: 1px solid gray;
    border-radius: 15px;
    background-color: aqua;
    padding: 15px;
}

.country img {
    width: 220px;
}

#countries{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}